/* Responsive styling */
@media screen and (max-width: 768px) {
    .container {
        margin: 50px 20px;
        padding: 15px;
    }

    .navbar a {
        margin: 0 10px;
    }

    /* Make author cards stack vertically on small screens */
    .author-section {
        flex-direction: column;
        align-items: center;
    }

    /* Adjust width of author cards on small screens */
    .author-card {
        width: 80%;
        margin-bottom: 20px;
    }

}

/* Responsive styles */
@media (max-width: 767px) {
    /* Stack columns vertically on small screens */
    .information .col-lg-4 {
        width: 100%; /* Full width on small screens */
        margin-bottom: 20px; /* Add space between stacked columns */
    }





